@import "../../../assets/styles/colors.scss";

.content {
  .card {
    background-color: lighten($oxford-blue, 15%);
    .card-body {
      .card-title {
        button {
          color: white;
        }
      }
    }
  }
  .btn-group {
    .active {
      background-color: lighten($color: $oxford-blue, $amount: 70);
    }
    button {
      background-color: lighten($color: $oxford-blue, $amount: 50);
    }
  }
}
.toast-container {
  #successToast {
    .toast-body {
      background-color: lighten($color: $oxford-blue, $amount: 80);
    }

    .toast-header {
      display: flex;
      justify-content: space-between;
      background-color: lighten($color: $oxford-blue, $amount: 40);
    }
  }
  #errorToast {
    .toast-body {
      background-color: lighten($color: red, $amount: 60);
    }
    .toast-header {
      display: flex;
      justify-content: space-between;
      background-color: lighten($color: red, $amount: 10);
    }
  }
}

.modal {
  background-color: rgba($color: #000000, $alpha: .4);
}
