<div class="container">
  <div class="mb-4">
    <list-control
      title="Estoque"
      iconText="boxes"
      btnText="Criar estoque"
      (open)="onOpenForm($event)"
    ></list-control>
  </div>
  <div class="content container p-0">
    @if (isFormOpened && isStockFormOpened) {
    <stock-form (close)="closeForm()" (save)="onSaveStock($event)"></stock-form>

    } @if (isFormOpened && isStockItemFormOpened) {
    <stock-item-form
      [formStockName]="formStockName"
      [stockToAdd]="stockToAdd"
      (close)="closeForm()"
      (save)="onSaveStockItem($event)"
    ></stock-item-form>

    } @if (!isFormOpened) {
    <div
      class="btn-group b d-flex w-50 m-auto mb-4"
      role="group"
      aria-label="Basic example"
    >
      <button
        type="button"
        (click)="changeViewType()"
        class="btn w-50"
        [ngClass]="{ active: listViewType === 'stocks' }"
      >
        Estoques
      </button>
      <button
        type="button"
        (click)="changeViewType()"
        class="btn w-50"
        [ngClass]="{ active: listViewType === 'movements' }"
      >
        Movimentos
      </button>
    </div>
    } @if (listViewType === 'stocks') {
    <div *ngIf="stocks$ | async as stocks">
      <stock-list
        [stocks]="stocks"
        (openForm)="onOpenStockItemForm($event)"
        (add)="onSaveAddStockItem($event)"
        (withdraw)="openWithdrawModal($event)"
      ></stock-list>
    </div>

    } @if (listViewType === 'movements') {
    <div *ngIf="stockEntries$ | async as stockEntries">
      <div *ngIf="stockOuts$ | async as stockOuts">
        <stock-movement-list
          [stockEntries]="stockEntries"
          [stockOuts]="stockOuts"
        ></stock-movement-list>
      </div>
    </div>
    }
  </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="successToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header text-white fw-semibold">
      Mensagem do sistema
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body fw-semibold">
      {{ toastBodyText }}
    </div>
  </div>
  <div
    id="errorToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header text-white fw-semibold">
      Mensagem do sistema
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body fw-semibold">
      {{ toastBodyText }}
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="withdrawModal"
  aria-labelledby="withdrawModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title d-flex flex-column">
          <h1 class="modal-title fs-5" id="withdrawModal">Retirada de itens</h1>
          @if (modalStockItem) {
          <h2 class="modal-subtitle fs-6">
            {{ modalStockItem.name }}
            <span>({{ modalStockItem.details }})</span>
            <span> - {{ modalStockName }}</span>
          </h2>

          }
        </div>
      </div>
      <div class="modal-body">
        <form
          class="d-flex align-items-center justify-content-between mb-4 gap-4"
        >
          <div *ngIf="employees$ | async as employees" class="form-floating w-75">
            <select
              class="form-select"
              id="employeeSelect"
              aria-label="Floating label disabled select example"
            >
              <option selected>Selecionar funcionário</option>
              @for (employee of employees; track employee.id) {
                <option value="employee.id">{{employee.name}}</option>
              }
            </select>
            <label for="employeeSelect">Funcionário</label>
          </div>
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="quantity"
              placeholder="0"
            />
            <label for="quantity">Quantidade</label>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeWithdrawModal()"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-primary">Retirar</button>
        </div>
      </div>
    </div>
  </div>
</div>
