<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title text-white d-flex justify-content-between mb-4">
      Crie um estoque
      <button
        (click)="closeForm()"
        type="button"
        class="btn btn-close"
      ></button>
    </h5>
    <form [formGroup]="stockForm">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="stockInput" formControlName="name" />
        <label for="stockInput">Nome</label>
      </div>
      <button
        class="btn btn-primary d-flex justify-content-center gap-2 align-items-center"
        (click)="onSaveStock()"
      >
        <i class="bi bi-floppy"></i>
        Salvar
      </button>
      <nav class="navbar mt-4 mb-4 bg-body-tertiary rounded">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Itens</span>
          <button (click)="addNewStockItem()" class="btn fs-6 d-flex justify-content-center gap-2 align-items-center add-item-btn">
            <i class="bi bi-plus-lg fs-5"></i>
            Novo
          </button>
        </div>
      </nav>
      <div
        class="pb-3 pt-3 d-flex align-items-center border-bottom"
        formArrayName="stockItems"
        *ngFor="let stockItem of getStockItemsFormArray(); let i = index"
      >
        <form class="row d-flex" [formGroupName]="i">
          <h4 class=" fs-5 text-white">Item #{{i + 1}}</h4>
          <div class="col-4 ">
            <div class="form-floating">
              <input type="text" class="form-control" id="stockItemName" formControlName="name" />
              <label for="stockItemName">Nome</label>
            </div>

          </div>
          <div class="col-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="stockItemDetails" formControlName="details" />
              <label for="stockItemDetails">Detalhes</label>
            </div>

          </div>
          <div class="col-2">
            <div class="form-floating">
              <input type="number" class="form-control" id="stockItemQuantity" formControlName="quantity" />
              <label for="stockItemQuantity">Qtde.</label>
            </div>

          </div>
          <div class="col-2">
            <div class="form-floating">
              <input type="number" class="form-control" id="stockItemMinQuantity" formControlName="minQuantity" />
              <label for="stockItemMinQuantity">Qtd. miníma</label>
            </div>

          </div>
          <div class="delete-btn col-1  d-flex justify-content-center align-items-center">
            <button class="btn" (click)="removeStockItem(i)">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
