<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title text-white d-flex justify-content-between mb-4">
      Crie um estoque
      <button
        (click)="closeForm()"
        type="button"
        class="btn btn-close"
      ></button>
    </h5>
    <form [formGroup]="stockForm">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="stockInput" formControlName="name" />
        <label for="stockInput">Nome</label>
      </div>
      <button
        class="btn btn-primary d-flex justify-content-center gap-2 align-items-center"
        (click)="onSaveStock()"
      >
        <i class="bi bi-floppy"></i>
        Salvar
      </button>
    </form>
  </div>
</div>
