@import "../../../../../assets/styles/colors.scss";

.card {
  background-color: lighten($oxford-blue, 15%);
  .card-body {
    .card-title {
      button {
        color: white;
      }
    }
  }
}

.add-item-btn {
  background-color: lighten($color: $oxford-blue, $amount: 60);
}
