@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
}

$oxford-blue: #0a122aff;
$asparagus: #698f3fff;
$seasalt: #fbfaf8ff;
$bone: #e7decdff;


$theme-colors: (
  "primary":    $oxford-blue,
  "secondary":  $asparagus,
);


$body-bg: $seasalt;

$btn-close-color: white;
$btn-close-opacity: .9;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
