<div class="container p-0">
  @for (stock of stocks; track stock.id) {
  <div class="card shadow w-100 mb-4">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-between">
        <p class="title fw-semibold">
          {{ stock.name }}
        </p>
        <button
          (click)="openStockItemForm(stock)"
          class="btn btn-primary d-flex justify-content-center gap-2 align-items-center"
        >
          <i class="bi bi-plus-circle"></i>
          Criar item
        </button>
      </h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Qtde.</th>
            <th scope="col">Item</th>
            <th scope="col">Detalhe</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (item of stock.stockItems; track item.id) {
          <tr>
            <th
              [ngClass]="{
                minQuantity: item.quantity < item.minQuantity,
                outStock: item.quantity === 0
              }"
              scope="row"
            >
              {{ item.quantity }}
              @if (item.quantity < item.minQuantity) {
              <i class="bi bi-exclamation-circle"></i>
              }
            </th>
            <td>{{ item.name }}</td>
            @if (item.details) {
              <td>{{ item.details }}</td>
            } @else {
              <td>-</td>
            }

            <td
              class="actions align-items-center d-flex justify-content-center"
            >
              @if (!isQuantityInputOpened && stock.id != stockItemId || item.id
              != stockItemId) {
              <button
                class="btn"
                (click)="openQuantityInput(item.id, stock.id)"
              >
                <i class="bi bi-plus-circle-fill"></i>
              </button>
              <button
               class="btn"
               (click)="openWithdrawnModal(item, stock.name)"
               >
                <i class="bi bi-arrow-up-right-square-fill"></i>
              </button>
              <button class="btn"><i class="bi bi-pencil-fill"></i></button>
              <button class="btn"><i class="bi bi-trash3-fill"></i></button>
              } @if (isQuantityInputOpened && item.id === stockItemId && stockId
              === stock.id) {
              <input type="number" class="form-control"  [(ngModel)]="quantity"/>
              <button (click)="onAddStockItemQuantity()" class="btn">

                <i class="bi bi-floppy-fill"></i>
              </button>
              <button
                class="btn"
                (click)="closeQuantityInput(item.id, stock.id)"
              >
                <i class="bi bi-x-lg"></i>
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }
</div>
